body {
    background-color: #252736;
    height: 100%;
    witdth: 100%;
}

p {
    color: white;
}

a {
    color: #bf9595;
}

ul {
    list-style-type: none;
    color: white;
    margin: 0px;
    padding: 0px 15px 0px 15px;
}

li {
    color: white;
    margin: 10px;
}

label {
    color:black;
}

button {
    background-color: #001469;
    border-color: #000a8c;
    font-family: "Comic Sans MS";
    font-size: 15pt;
    color: mintcream;
}

.button-round {
    border-radius: 20px;
}

.chapterheading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 5px 0px;
    color: white;
}

.divtitle {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 0px 20px 0px;
    color: white;
}

#main {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#left-container {
    display: flex;
    flex-direction: column;
    width: 25%;
    height: 100%;
}

#right-container {
    display: flex;
    flex-direction: column;
    width: 75%;
    height: 100%;
}

#header {
    display: flex;
    flex-direction: row;
    height: 4em;
    width: 100%;
}

#mini-nav {
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 4em;
    width: 100%;
    background-color: #1e2740;
    color: white;
}

#title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4em;
    width: 100%;
    background-color: #111f48;
    color: white;
}

#nav-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100% - 4em);
}

#navigator {
    height: calc(100% - 4em);
    width: 100%;
    background-color: #141418;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

#next-prev {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

#map {
    height: 100%;
    width: 100%;
}

.nav-div {
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.volume-btn {
    width: 80%;
    height: auto;
    min-height: 50px;
    margin-top: 30px;
}

.book-btn {
    width: 80%;
    height: auto;
    min-height: 50px;
    margin-top: 30px;
}

.chapter-btn {
    width: 80%;
    height: auto;
    min-height: 50px;
    margin-top: 30px;
}

.nav-btn {
    font-size: 9pt;
    width: 33.33%;
    height: 100%;
    margin: 0;
    background-color: #1e2740;
    border-color: #1e2740;
    border-style: none;
}

.nav-btn:hover {
    background-color: #2b354f;;
}

.marker-position {
    bottom: 30px;
    left: 0;
    position: relative;
}

@media screen and (min-width: 120em) {
    #left-container {
        width: 30em;
    }
    #right-container {
        width: calc(100% - 30em);
    }
}

@media only screen and (max-width: 80em) {
    #left-container {
        width: 20em;
    }
    #right-container {
        width: calc(100% - 20em);
    }
}

@media only screen and (max-width: 48em) {
    #main{
        flex-direction: column-reverse;
    }
    #left-container {
        width: 100%;
        height: 40%;
    }
    #right-container {
        width: 100%;
        height: 60%;
    }
    h1 {
        font-size: 15pt;
    }
}

